/**
 * @file AgreementToggle 스타일 파일
 * @작성자 신동준 (sdj3959)
 * @작성일 2025-10-17
 * @최종수정일 2025-10-17
 */

.agreement-toggle {
  margin-bottom: 16px;

  .toggle-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .toggle-text {
      font-size: 15px;
      color: var(--text-color);
    }

    .toggle-switch {
      position: relative;
      width: 51px;
      height: 31px;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .toggle-slider {
          background-color: var(--secondary-color);
        }

        &:checked + .toggle-slider:before {
          transform: translateX(20px);
        }
      }

      .toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--state-disabled);
        transition: 0.3s;
        border-radius: 31px;

        &:before {
          position: absolute;
          content: "";
          height: 27px;
          width: 27px;
          left: 2px;
          bottom: 2px;
          background-color: var(--white-color);
          transition: 0.3s;
          border-radius: 50%;
        }
      }
    }
  }
}
