/**
 * @file Button 스타일 파일
 * @작성자 신동준 (sdj3959)
 * @작성일 2025-10-17
 * @최종수정일 2025-10-17
 */

.common-button {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: opacity 0.2s;

  &.primary {
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;

    &:hover:not(.disabled) {
      opacity: 0.8;
    }

    &.disabled {
      background-color: var(--state-disabled);
      color: var(--text-secondary-color);
      cursor: not-allowed;
    }
  }

  &.secondary {
    background-color: var(--white-color);
    color: var(--text-color);
    border: 1px solid var(--state-disabled);
    cursor: pointer;

    &:hover:not(.disabled) {
      background-color: var(--background-color);
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
