/**
 * @file MainLayout 스타일 파일
 * @작성자 신동준 (sdj3959)
 * @작성일 2025-10-17
 * @최종수정일 2025-10-17
 */

.main-layout {
  display: flex;
  flex-direction: column;
  
  @media (min-width: 1025px) {
    height: 100vh;
    overflow: hidden;
  }
  
  @media (max-width: 1024px) {
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (min-width: 1025px) {
      overflow: hidden;
    }
  }
}
